---
layout: layout.liquid
---

<div class="home">

  <header class="article-header">
    <h1 class="article-title" itemprop="name headline">{{ site.title | escape }}</h1>
  </header>

  <ul class="links-list">
    <li class="links-list_item"><a href="mailto:mailbox@dolzhenko.me">Email</a></li>
    <li class="links-list_item"><a href="https://github.com/dsdolzhenko">GitHub</a></li>
    <li class="links-list_item"><a href="https://twitter.com/dsdolzhenko">Twitter</a></li>
    <li class="links-list_item"><a href="https://www.linkedin.com/in/dmitry-dolzhenko-213087203/">LinkedIn</a></li>
    <li class="links-list_item"><a href="{{ site.feed.path }}">RSS</a></li>
  </ul>

  {{ content }}

  <ul class="post-list">
    {% for post in collections.posts reversed %}
    <li class="post-list_item">
      <a class="post-list_link" href="{{ post.url | relative_url }}">{{ post.data.title | escape }}</a>
      <span class="post-list_dot"> • </span>
      <span class="post-list_meta">{{ post.date | date: "%b %d, %Y" }}</span>
    </li>
    {% endfor %}
  </ul>

</div>
