---
layout: layout.liquid
---

<div class="home">

  <header class="article-header">
    <h1 class="article-title" itemprop="name headline">{{ site.title | escape }}</h1>
  </header>

  {{ content }}

  <p>
    <strong>Thoughts:</strong>
  </p>

  <ul>
    {% for article in collections.thoughts reversed %}
    <li><a href="{{ article.url | relative_url }}">{{ article.data.title | escape }}</a></li>
    {% endfor %}
  </ul>

  <p>
    <strong>Talks:</strong>
  </p>

  <ul>
    {% for article in collections.talks reversed %}
    <li><a href="{{ article.url | relative_url }}">{{ article.data.title | escape }}</a></li>
    {% endfor %}
  </ul>

  <p>
    <strong>Contact:</strong>
  </p>

  <ul>
    <li><a href="mailto:mailbox@dolzhenko.me">Email</a></li>
    <li><a href="https://github.com/dsdolzhenko">GitHub</a></li>
    <li><a href="https://twitter.com/dsdolzhenko">Twitter</a></li>
    <li><a href="https://www.linkedin.com/in/dmitry-dolzhenko-213087203/">LinkedIn</a></li>
  </ul>
</div>