<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if title %}{{ title | escape }}{% else %}{{ site.title | escape }}{% endif %}{% if title and page.layout != 'home' %} - {{ site.title escape }}{% endif %}</title>
        <meta name="description" content="{{ description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

        <!-- Twitter cards metadatas -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@dsdolzhenko">
        <meta name="twitter:creator" content="@dsdolzhenko">
        <meta name="twitter:title" content="{% if title %}{{ title | escape }}{% else %}{{ site.title | escape }}{% endif %}{% if title and page.layout != 'home' %} - {{ site.title escape }}{% endif %}">
        <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
        <meta name="twitter:description" content="{{ description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

        <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/normalize.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
        <link rel="alternate" type="application/rss+xml" title="Dmitry Dolzhenko" href="{{ site.feed.path }}" />
    </head>
    <body>
        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>

        <footer class="site-footer">
            <div class="wrapper">
                <span class="footer-copy">Except where otherwise noted, content on this site is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License.</a></span>
            </div>
        </footer>
    </body>
</html>
