---
layout: layout.liquid
---
<article class="content">
  {% render "header", title: title, date: page.date, site: site %}

  {% if pictures %}
  <ul class="pictures">
  {% for picture in pictures %}
     <li>
     <a href="{{ picture }}"><img src="{{ picture }}"/></a>
     </li>
  {% endfor %}
  </ul>
  {% endif %}

  {{ content }}
</article>

<p>
  <a href="mailto:{{ site.author.email }}?subject={{ title | escape }}">Reply to this post by email</a>
</p>
